* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Comic Sans MS', sans-serif;
    background: #22254b;
}

header {
    display: flex;
    justify-content: flex-end;
    background: #373b69;
    padding: 1rem;
}

.search{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: inherit;
    color: #fff;
    background: transparent;
    border: 2px solid #22254b;
    border-radius: 50px;
}
.search::placeholder {
    color: #7378c5;
}

.search:focus {
    outline: none;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movie {
    position: relative;
    margin: 10px;
    width: 300px;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    background: #373b69;
}

.movie img {
    display: inline-block;
    object-fit: cover;
    max-height: 400px;
    width: 100%;
}

.movie-info {
    padding: 0.5rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #eee;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    background: #22254b;
    font-weight: bold;
}

.movie-info span.green {
    color: green;
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: red;
}

.overview {
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    transform: translateX(100%);
    visibility: hidden;
    transition: transform 0.3s ease;
}

.overview h4 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateX(0);
    visibility: visible;
}
